### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Miscellaneous ###
workdir
ipfs-market

### NPM ###
node_modules/

### Solidity ###
/solidity/.openzeppelin/dev-*.json
/solidity/.openzeppelin/.session
/solidity/build/